html,
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* width: 100%; */
  /* height: 100%; */
  background-color: blue;
}

header{
    display: grid;
    place-items: center;
    /* background: url("../images/background.svg"); */
    background-color: #121214;
    /* width: 100%; */
    background-repeat: repeat-x;
    background: url("../images/background.svg");
    width: 100%;
    height: 35vh;
    /* position: absolute; */
    /* z-index: 0; */
}

footer{
    display: grid;
    place-items: center;
    background: url("../images/background.svg");
    background-color: #121214;
    background-repeat: repeat-x;
    background: url("../images/background.svg");
    width: 100%;
    /* min-height: 37vh; */
    /* margin-top: 20rem; */
    height: 35vh;
    position: absolute;
    bottom: 0;
    transform: rotate(180deg);
}

main{
    background: url("../images/background.svg");
    width: 500px;
    height: 800px;
    background-color: hsla(240, 6%, 13%, 0.795);
    margin-top: -280px;
    border: 3px solid white;
    border-radius: 15px;
    -webkit-box-shadow: 4px 5px 21px 8px rgba(255,255,255,0.45);
    box-shadow: 4px 5px 21px 8px rgba(255,255,255,0.45);
}

.divTransition{
    position: absolute;
    width: 50px;
    left: 10px;
    -webkit-animation: divTransiction 50s ease-in-out infinite;
    animation: divTransiction 35s ease-in-out infinite;
    z-index: 999;
}

.container{
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    color:var(--gray);
    position: relative;

}

.avatar{
    width: 10rem;
    margin: 11.5rem auto 0;
}

.avatar span{
    position: absolute;
    top: -15px;
    z-index: 1;

}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
  
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.profilegithub{
    color:var(--gray);
    margin: 0.75rem .45rem;
}

.divGithub{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: .2rem;
}

a{
    color:var(--gray);
    margin-top:0.25rem;
    display: flex;
    gap:0.30rem;
    justify-content: center;
    align-items: center;
}

#bioGithub{
    margin-top: 1rem;
}

ul{
    margin-top: 2.5rem;
    display:flex;
    padding: 0;
    gap: 0.5rem;
    justify-content: center;
}

@keyframes divTransiction {
  0%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(-100px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(70vw);
  }
}


@media (max-width:425px){
    header{
        display: grid;
        place-items: center;
        background-color: #121214;
        background-repeat: repeat-x;
        background: url("../images/background.svg");
        width: 100%;
        height: 35vh;
    }
    
    main{
        background: url("../images/background.svg");
        width: 350px;
        height: 670px;
        background-color: hsla(240, 6%, 13%, 0.795);
        margin-top: -200px;
        border: 3px solid white;
        border-radius: 15px;
        -webkit-box-shadow: 4px 5px 21px 8px rgba(255,255,255,0.45);
        box-shadow: 4px 5px 21px 8px rgba(255,255,255,0.45);
    }

    .divTransition{
        position: absolute;
        width: 50px;
        left: 10px;
        -webkit-animation: divTransiction 50s ease-in-out infinite;
        animation: divTransiction 35s ease-in-out infinite;
        z-index: 999;
    }
}